*{
    padding: 0;
    margin: 0;
    outline: 1px solid black;
 
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: #c0c0c0;
    flex-direction: column;
    width: calc(100vw);
    height: calc(100vh);
    max-width: calc(100vw);
}

header{
    display:flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    top: 0;
    position: sticky;
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #c0c0c0;
    font-size: 3em;

}

.profile{
    display: block;
    background-color: white;
    width: 350px;
    max-height: 400px;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    justify-content: center;
}

section{
    display: flex;
    padding: 10px;
    height: 100%;

}

.content{
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.menu{
    display: block;
    width: 100%;
    height: 100%;

}

.tela{
    background-color: black;
    color: white;
    width: 325px;
    height: 200px;
    padding: 30px;
    font-family: arial;

}